%section.genre
  %header.clearfix
    %h1 
      = "Results for #{@search_term}:"
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.video_category
    - @videos.each do |video|
      = render 'shared/video', video: video

